<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../static/css/cook.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script defer src="./../../static/js/scroll.js"></script>
    <title>SoushiChef | Cook</title>
</head>

<body>
    <section id="first" class="section-container">
        <h3 id="title">Recipe Information</h2>
        <h3 id="name">{{ recipe.name }}</h3>
        <div id="i-wrapper">
            <img src="{{ recipe.image }}">
        </div>
        <div id="tb">
            <h3 id="time">Time: {{ recipe.time }}</h3>
            <h3 id="serving">Serving Size: {{ recipe.serving_size }}</h3>
        </div>
        <button id="st-bt">Start Cooking!</button>
    </section>

    {% for step in recipe.recipe %}
    <section class="section-container">
        <h3 class="count">{{ forloop.counter }}</h3>
        <h3 class="instr">{{ step }}</h1>
    </section>
    {% endfor %}

    <section id="last" class="section-container">
        <h3 id="maido">Enjoy your {{ recipe.name }}!</h3>
        <button id="ed-bt" onclick="location.href = '/menu'">Home</button>
    </section>

    <!-- Navigation Buttons -->
    
    <div class="nav" id="back"></div>
    <div class="nav" id="forward"></div>
    
    <i id="iback" class="material-icons md-50 pointer">arrow_back_ios</i>
    <i id="iforward" class="material-icons md-50 pointer">arrow_forward_ios</i>
</body>
</html>