<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../static/css/login.css">
    <title>SoushiChef | Login</title>
</head>
<body>
    <div class="box">
        <h2>Log into SoushiChef</h2>
        <p>“Falivel, Falafel, Falovel!”</p>
        <form class="inputs" method="POST" action="login">
            {% csrf_token %}
            {{ login }}
            <button>Log In</button>
        </form>
        <a href="/signup">Don't have an account? Sign Up</a>
    </div>
</body>
</html>